
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  background-image: linear-gradient(to right, #85E3B8, #04C5D7);
}

.btn-start {
  background-color: #fff;
  color: #000;
}

.btn-start:hover {
  background-color: #06C5D6;
  color: #fff;
}

/* Nav */
#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar {
  background-image: linear-gradient(to right, #85E3B8, #04C5D7);
}

.navbar-brand span {
  font-weight: 500;
  color: #fff;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
}

/* Banner */
#banner {
  color: #fff;
  padding-top: 5%;
}

.title {
  font-weight: 500;
  margin-top: 100px;
}

.banner-img {
  position: relative;
  z-index: 1000;
}

@media screen and (max-width: 767px) {

  #banner .col-md-6 {
    margin-bottom: 55px;
    text-align: center;
  }

  #banner .col-md-6 .title {
    margin-top: 50px;
  }

}